<div class="row">
  <div class="col-md-2 ">
        <nav class=" hidden-xs-down bg-dark sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link " href="#">
                  <div class="link">
                  <h4>overview</h4>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">
                <div class="link">
                <h4>overview</h4>
              </div>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">
                <div class="link">
                <h4>overview</h4>
              </div>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">
                <div class="link">
                <h4>overview</h4>
              </div>
            </a>
            </li>
          </ul>

        </nav>
  </div>

  <div class="col-md-10">
    <div class="row">
			    <!-- begin col-3 -->
			    <div class="col-lg-3 col-md-6">
			        <div class="widget ">
			        	<div class="stats-content">
							<div class="text-center">Add New Item</div>
              <div class="text-center">
                <button type="button" class="btn btn-primary center-block" name="button"><i class="fa fa-plus-square" style="font-size:26px;"></i>Add</button>

              </div>
                  </div>
			        </div>
			    </div>
			    <!-- end col-3 -->
			    <!-- begin col-3 -->
			    <div class="col-lg-3 col-md-6">
			        <div class="widget ">
			            <div class="stats-icon stats-icon-lg"></div>
						<div class="stats-content">
							<div class="stats-title text-center">No of users</div>
							<div class="stats-number text-center"><i class="fa fa-users" style="font-size:41px"></i>180</div>

						</div>
			        </div>
			    </div>
			    <!-- end col-3 -->
			    <!-- begin col-3 -->
			    <div class="col-lg-3 col-md-6">
			        <div class="widget">
			        	<div class="stats-content">
							<div class="stats-title text-center">Complains</div>
							<div class="stats-number text-center"><i class="fa fa-envelope-open" style="font-size:41px"></i>38</div>


						</div>
			        </div>
			    </div>
			    <!-- end col-3 -->
			    <!-- begin col-3 -->
			    <div class="col-lg-3 col-md-6">
			        <div class="widget">

			        	<div class="stats-content">
							<div class="stats-title text-center">Cards</div>
							<div class="stats-number text-center"><i class="fa fa-credit-card-alt" style="font-size:41px"></i>39</div>

						</div>
			        </div>
			    </div>
			    <!-- end col-3 -->
			</div>
			<!-- end row -->

  </div>

</div>
