
<!--Footer-->
<footer class="page-footer">

  <div class="container ">
              <div class="row">


                  <div class="col-md-4">
                      <h5 class=" mb-4 mt-3 ">McCafé</h5>
                      <p>If you are looking for a delightful treat to satisfy your taste buds you have found the right place! McCafé  is located in Chitkara University Punjab Campus</p>
                  </div>




                  <div class="col-md-2 mx-auto">
                      <h5 class="text-uppercase mb-4 mt-3">Quick links</h5>
                      <ul class="list-unstyled">
                          <li><a href="#!">Cafe menu</a></li>
                          <li><a href="mailto:thakursachin467@gmail.com">Contact Us</a></li>
                          <li><a href="complain/complain.html">Complain</a></li>
                      </ul>
                  </div>




                  <div class="col-md-2">
                      <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Our menu</h5>
                      <ul class="list-unstyled">
                          <li><a href="#!">What's new</a></li>
                          <li><a href="#!">Food</a></li>
                          <li><a href="#!">Beverages</a></li>
                          <li><a href="#!">Combos</a></li>
                      </ul>
                  </div>



              </div>
          </div>


          <hr>


          <div class="text-center ">
              <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                      <h5 class="mb-1">Register for free</h5>
                  </li>
                  <li class="list-inline-item"><a href="/login" class="btn btn-danger btn-rounded">Sign up!</a></li>
              </ul>
          </div>


          <hr>


          <div class="text-center">
              <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"><a class="btn-floating btn-sm btn-fb mx-1" href="https://www.facebook.com/ChitkaraU/"><i class="fa fa-facebook"> </i></a></li>
                  <li class="list-inline-item"><a class="btn-floating btn-sm btn-tw mx-1" href="https://twitter.com/ChitkaraU?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"> </i></a></li>
                  <li class="list-inline-item"><a class="btn-floating btn-sm btn-gplus mx-1" href="https://www.instagram.com/chitkarau/?hl=en"><i class="fa fa-instagram"> </i></a></li>
                  <li class="list-inline-item"><a class="btn-floating btn-sm btn-li mx-1" href="https://en.wikipedia.org/wiki/Chitkara_University"><i class="fa fa-wikipedia-w"> </i></a></li>
              </ul>
          </div>



          <div class="footer-copyright py-3 text-center">
              <div class="container-fluid">
                  © 2018 Copyright: <a href="https://www.chitkara.edu.in"> Chitkara University </a>

              </div>
          </div>

</footer>
<!--/.Footer-->
