<nav class="navbar navbar-expand-sm navbar-light bg-faded">
  <a  href="/"><img width="150" alt="McCafé-Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/McCaf%C3%A9-Logo.svg/512px-McCaf%C3%A9-Logo.svg.png"/></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       </ul>
       {{#if userid}}


       <form class="form-inline my-2 my-lg-0">
        <a class="mr-3"><i class="fa fa-user"></i> Welcome {{userid.firstname}}</a>

        {{#if userid.isAdmin}}

        {{else}}
        <div class="dropdown  mr-5">
          <button class="btn btn-default dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           <i class="fa fa-navicon" style="font-size:36px"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <div class="list-group">
   <a href="/items" class="list-group-item list-group-item-action"><i class="fa fa-shopping-cart"></i> Explore Items</a>
   <a href="/cart" class="list-group-item list-group-item-action"><i class="fa fa-shopping-bag"></i> Cart <span class="badge  badge-primary float-right mt-1">{{size sessions.cart}}</span> </a>
   <a href="/complain" class="list-group-item list-group-item-action"><i class="fa fa-comments"></i> Complain</a>
   <a href="/dashboard" class="list-group-item list-group-item-action"><i class="fa fa-dashboard"></i> Dashboard</a>
 </div>
</div>

          </ul>
        </div>
{{/if}}
         <a href="/logout" class="btn btn-primary" >LOGOUT</a></button>

        </form>

       {{ else }}
       <form class="form-inline my-2 my-lg-0">

         <a href="/login" class="btn btn-primary" >LOGIN</a></button>

        </form>
        {{/if}}
     </div>

</nav>
