<nav class="navbar navbar-expand-sm navbar-light bg-faded">
  <a  href="index.html"><img width="150" alt="McCafé-Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/McCaf%C3%A9-Logo.svg/512px-McCaf%C3%A9-Logo.svg.png"/></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" id="account" type="submit"><a href="login.html">LOGIN</a></button>
       </form>
     </div>
</nav>
